@page "/"

<div class="container-a">

    <div class="header">

        <div class="nav">

            <div class="is-flex is-align-items-center">

                <h1 class="title is-5 is-secondary-40 has-text-weight-bold mb-0 mr-6">TODOLIST</h1>
                <div class="is-flex is-align-items-center is-justify-content-space-between" style="gap: 0 16px;">

                    <div>
                        <div class="dropdown is-hoverable is-left">
                            <div class="dropdown-trigger">
                                <span class="icon-text is-clickable">
                                    <span class="is-secondary-40 font_14">
                                        Chờ xác nhận
                                    </span>
                                    <span class="icon is-small"><i class="material-icons-outlined"></i></span>
                                </span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <span class="icon-text">
                                            <span class="icon font_12 is-secondary-40"><i
                                                    class="material-icons-outlined">add_task</i></span>
                                            <span class="font_12 is-secondary-10 has-text-weight-semibold ml-1">Việc
                                                được giao <span class="is-secondary-40 has-text-weight-normal">chờ xác
                                                    nhận của 7 ngày tiếp theo</span></span>
                                        </span>
                                    </div>
                                    <div class="dropdown-item">
                                        <span class="icon-text">
                                            <span class="icon font_12 is-secondary-40"><i
                                                    class="material-icons-outlined">assignment</i></span>
                                            <span class="font_12 is-secondary-10 has-text-weight-semibold ml-1">Việc đã
                                                giao <span class="is-secondary-40 has-text-weight-normal">chờ xác nhận
                                                    của 7 ngày tiếp theo</span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="icon-text">
                            <!--!--><span class="icon"><span class="icon font_14 is-secondary-40"><i
                                        class="material-icons-outlined"></i></span></span>
                            <a href="/todolist/receive" style="text-decoration-line: underline"
                                class="is-primary-40 has-text-weight-bold is-clickable font_14">0</a>
                        </span>
                    </div>
                    <div>
                        <span class="icon-text">
                            <!--!--><span class="icon"><span class="icon font_14 is-secondary-40"><i
                                        class="material-icons-outlined"></i></span></span>
                            <a href="/todolist/send" style="text-decoration-line: underline"
                                class="is-primary-40 has-text-weight-bold is-clickable font_14">0</a>
                        </span>
                    </div>
                    <span>
                        <!--!-->
                        Chuỗi ngày không trễ todolist:
                        <span class="is-secondary-10 has-text-weight-bold">0</span>
                    </span>

                    <DropDown Options="@optionMenu" SelectedValue="@selectedValue"></DropDown>


                    <div class="column is-narrow">Việc chờ xử lí</div>


                    <div class="column is-narrow">
                        <section class="col-sm-12">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

            </div>

        </div>
    </div>



    <div class="content">
        @if (isView)
        {
            <Add></Add>
        }
        else
        {
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Danh sách công việc</th>
                        <th scope="col">Độ ưu tiên</th>
                        <th scope="col">Bắt đầu</th>
                        <th scope="col">Kết thúc</th>
                        <th scope="col">Tình trạng</th>
                    </tr>

                    @foreach (var item in todos)
                    {
                        <tr>
                            <td>@item.title</td>
                            <td>@item.priority</td>
                            <td>@item.timeStart</td>
                            <td>@item.timeEnd</td>
                            <td>@item.status</td>
                        </tr>
                    }
                </thead>

            </table>
        }
    </div>




    <div class="footer">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control is-expanded has-text-weight-semibold has-text-link">
                <div>
                    Bạn chưa có công việc cho ngày 08/01.Hãy bắt đầu tạo công việc thôi nào!
                </div>
            </div><!--!-->
            <div style="margin-left:auto">
                <a @onclick="AddToDo">Thêm Việc</a>
            </div>
        </div>
    </div>


</div>

@code {
    
    
    List<DropDown.DropdownOption> optionMenu = new List<DropDown.DropdownOption>
        {
        new DropDown.DropdownOption { Value = "option1", Text = "Option 1" },
        new DropDown.DropdownOption { Value = "option2", Text = "Option 2" },
        new DropDown.DropdownOption { Value = "option3", Text = "Option 3" }
        };

    public string? selectedValue { get; set; }
    public bool isView = false;
    public bool active;
    public List<Model.ToDo> todos = new List<Model.ToDo>();

    

    protected async override void OnInitialized()
    {
        todos = await DbToDo.GetAllToDo();
    }

    private void AddToDo()
    {
        Console.WriteLine("Add");
        isView = true;
    }
}